# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules

# Coverage
coverage

# Transpiled files
lib

# JetBrains IDEs
.idea

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
