{
    "branches": [
        "main",
        {
            "name": "prerelease",
            "prerelease": true
        }
    ],
    "repositoryUrl": "https://github.com/joelday/papyrus-lang.git",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/git",
        "@semantic-release/github"
    ],
    "verifyConditions": [
        "@semantic-release/github"
    ],
    "prepare": [
        "@semantic-release/changelog",
        "@semantic-release/git",
        {
            "path": "@semantic-release/exec",
            "cmd": "vsce package --no-git-tag-version --no-update-package-json --githubBranch %BRANCH_NAME% %PRERELEASE_FLAG% --pre-release --out papyrus-lang-vscode.vsix %VERSION%"
        }
    ],
    "publish": [
        {
            "path": "@semantic-release/exec",
            "cmd": "vsce publish --skip-duplicate --packagePath papyrus-lang-vscode.vsix %PRERELEASE_FLAG% --pre-release"
        },
        {
            "path": "@semantic-release/github",
            "assets": "papyrus-lang-vscode.vsix"
        }
    ]
}