*.txt
*.obj
*.XML
*.user
*.tlog
*.log
*.htm
*.res
*.manifest
*.lastbuildstate
*.pdb
*.rc
*.dep
*.css
*.xslt
*.idb
*.ipch
*.vcproj
*.vcxproj
*.sln
*.filters
*.suo
*.sdf
*.svn
*.pro
_UpgradeReport_Files/
Debug/
Release/
ipch/
.debug_time
nano
nano.save
example/CMakeFiles
example/CMakeCache.txt
example/Makefile
example/meta_example
example/MetaExample/
*.cmake